.top-order {
  border: 2px solid #000;
  padding:5px 10px;
  color:#999999;
  font-size: 18px;
  background: #fff;
  margin-top: 5px;
  transition: all ease 0.5s;
}
.footer-btn {
  color: #000;
   border: 1px solid #000;
   padding:5px;
   background-color: #babbbd;
   transition: all ease 0.5s;
   float: right;
}

.order-btn {
   font-size: 20px;
   border: 2px solid #000;
   padding:5px 10px;
   background-color: #fff;
   margin-top: 20px;
   transition: all ease 0.5s;
}
.order-btn:hover, .footer-btn:hover, .top-order:hover {
   background-color: #000;
   color: #fff;
}

.footer {
   height: 200px;
   color: #fff;
   padding-top: 30px;
   padding-bottom: 30px;
}
section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-down {
padding-top: 40px;
}
h2 {
  color: #424f5f;
  text-align: center;
  text-transform: uppercase;
}
.services p {
font-size: 20px;

}
.services {
  color: #999999;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}
.services h3 {
  font-weight: bold;
}
.vmargin {
  margin-top:30px;
  margin-bottom: 30px;
}

.why-choose {
  color: #fff;
  text-align: center;
}
.why-choose h2, .contact h2, .reports h2 {
  color: #fff;
  margin-bottom: 25px;

}

.why-choose img {
  margin-top: 10px;
  margin-bottom: 10px;
}
.why-choose h4 {
color: #999999;
}
.about {
  color:#999999;
  background: url(../images/housebg.jpg) no-repeat;
  background-color: #fff;
 background-position: center center;
 background-size: contain;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.about p {
  font-size: 28px;
}
.table-div {
  display: table;
  width: 100%;
  height: 100%;

}
.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

body {
  width:100%;
  overflow-x: hidden;
  background: url(../images/mainbg.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 0 !important;
}
.contact-form {
  background-color: #fff;
  border-radius: 10px;
  padding:20px;
  margin:10px;

}
.reviews, .certificates {
  background:url(../images/bgtext.jpg);
}
.review-text {
  color: #999999;
  padding-bottom: 20px;
}
.for-quotes::before {
    content: open-quote;
    float: left;
    font-size: 100px;
    margin-left: -50px;
    margin-top: -30px;
}
.review-name {
  border-top: 2px solid #000;
  padding-top: 20px;
}
.review {
  border: 1px solid #000;
  border-left: 5px solid #000;
  background: #fff;
  padding: 20px 20px 20px 70px;
  display: block;
  margin:0 auto;
  width:80%;
}
.reports {
  color:#fff;
  text-align: center;
  background: url(../images/reportsbg.jpg) no-repeat;
  background-size: cover;

}
.reports p {
  font-size: 24px;
}
.circle-div {
  width: 203px;
  height: 203px;
  margin:10px auto;
}
.div1 {
  background: url(../images/circle1.png);
}
.div2 {
  background: url(../images/circle2.png);
}
.div3 {
  background: url(../images/circle3.png);
}
.number {
  font-size: 80px;
  line-height:210px;
  font-weight: bold;
}
.certificate-image {
    display: block;
    margin: 0 auto;
    opacity: 0.55;
}
.certificates {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 999;
  padding-top: 5px;
  padding-bottom: 5px;
  display: none;
  box-shadow: 0px 0px 3px #999999;
}
.logo {
width:100%;
max-width: 500px;
}
.top-p {
  border-right: 2px solid #999999;
}
.we-glad {
  color: #999999;
  font-weight: bold;
  text-align: right;
}
.we-glad::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  background:url(../images/phone.png);
}
.phone {
  font-size: 24px;
  color:#393939;
  font-weight: normal;
  line-height: 20px;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.shown {
  display: block;
}
.down-arrow {
  border: 5px solid #999999;
  border-radius: 10px;
  width: 70px;
  height: 80px;
  padding-top: 20px;
  position: absolute;
  bottom:50px;
  left:50%;
  margin-left: -35px;
}
.down-span:hover {
  opacity: 0.8;
}
.with-img {
  background: url(../images/mainbg.jpg) no-repeat;
  background-attachment: fixed;
   background-size: cover;

}
.modal-open {
 overflow: auto;
}

.carousel-control {
    color: #000;
  }
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.carousel-control:hover, .carousel-control:active {
    color: #000;
  }
.footer-text {
  text-align: left;
}
@media screen and (max-width: 992px) {
.footer-btn {
  float: none !important;
  margin-bottom: 20px;
}
.footer-text {
  text-align: center;
}
.order-btn {
  margin: 10px auto !important;
  display: block;
}
.services .col-md-5 {
  text-align: center;
}

.top-order {
  display: block;
  margin: 0 auto;
}
.phone {
  font-size: 16px;
}
.no-show {
  display: none;
}
.we-glad::before {
  display: none;
}
}
